<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
  </head>
  <body>
    <%- include ('layout')  %> 

    <!-- Page Content -->
    <div class="container">
  
      <div class="row">
  
        <!-- Blog Entries Column -->
        <div class="col-md-8">
  
          <h1 class="my-4">บทความ</h1>
          <% posts.forEach(function (post) {%> 
          <!-- Blog Post -->
          <div class="card mb-4">
            <img class="card-img-top" src="<%=post.img  %>" alt="Card image cap">
     
            <div class="card-body">
              <h2 class="card-title"><%= post.title %></h2>
              <p class="card-text"><%- descriptionText(post.content,400) %></p>
              <a href="#" class="btn btn-primary">Read More &rarr;</a>
            </div>
            <div class="card-footer text-muted">
              <%= moment(post.date).format("DD-MM-YYYY") %>
              <a href="#"><%= post.author %> </a>  <a href="#"><%= post.catgory %> </a>
            </div>
          </div>
  
          <%   })  %> 
        </div> 
  
        <!-- Sidebar Widgets Column -->
        <div class="col-md-4">
          <%- include ('sidebar')  %> 
  
    </div>
    <!-- /.container -->
  
    <!-- Footer -->
    <footer class="py-5 bg-dark">
      <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Tanakorn </p>
      </div>
      <!-- /.container -->
    </footer>
 


  </div>
  </body>

</html>
